<%- include('partials/header.ejs') %>
<body>
  <div class="container">
    <div class="jumbotron text-center text-primary">
      <h1><span class="fa fa-lock"></span> Bem-vindo</h1>
      <p>Entrar ou Registrar com:</p>
      <a href="/auth/github" class="btn btn-dark">
        <span class="fa fa-github"></span> Entrar com o Github
      </a>
    </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>